{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "dbTestTools": false,
    "jestExpect": false
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/require-extension": "off",
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "babel/generator-star-spacing": 1,
    "new-cap": [2, {
      capIsNewExceptions: ["Router", "Server"]
    }],
    "babel/object-shorthand": 1,
    # "babel/arrow-parens": 1, Conflict with airbnb eslint
    "babel/no-await-in-loop": 1,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/react-in-jsx-scope": 2,
    "react/no-unused-prop-types": [2, { skipShapeProps: true }],
    "import/no-extraneous-dependencies": [2, { "devDependencies": ["**/**.spec.js", "**/testSetupFile.js"] }],
    "chai-expect/missing-assertion": 2,
    "chai-expect/terminating-properties": 0,
  },
  "plugins": [
    "babel",
    "react",
    "chai-expect"
  ]
}
